/* titles */
.title {
    width: 100vw;
}

.primary-title {
    text-align: center;
}
.secondary-title {
    text-align: center;
    font-size: large;
}

.title hr {
    height: 1px;
    background-color: var(--light-grey);
    border: none;
    max-width: 40rem;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar a {
    margin: 0.4rem;
}

/***********************************************************************/

/* Title animation adapting to screen size */
@media (max-width: 1000px) {
    #singleRedact {
        filter: blur(10px);
        transition: filter 0.1s;
    }

    #singleRedact:hover {
        filter: blur(0);
    }
}
@media (min-width: 768px) {
    #redact {
        filter: blur(10px);
        transition: filter 10s;
    }

    #redact:hover {
        filter: blur(0);
        transition: filter 0s;
    }
}
