
h1, h2, h3, h4, h5, h6 {
	border-bottom: 0px !important;
}

/* titles */
.title1 {
	text-align: center;
}
.title2 {
	text-align: center;
	font-size: large;
}



/* section titles */
h2, .listTitle {
	text-align: center;
}



/* center text */
.text {
	text-align: center;
}



/* italic text */
.italic {
	font-style: italic;
}



/* center images */
media-tag {
	display: flex;
	justify-content: center;
}



/* topic titles */
h4, .topic {
	font-size: large;
	font-weight: bold;
}



/* link hover colour */
a:hover {
	color: var(--link-hover);
}



/* article added on x text */
.addedOn {
	font-style: italic;
	font-size: small;
	margin-left:65px;
}



/* purple boxes */
.purple-box {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 5px 5px 10px var(--shadow);
	background-color: var(--light-background);
	border-bottom-color: var(--light-purple);
}
.purple-box2 {
	border: 5px solid var(--light-purple);
	margin: 1rem;
}

.purple-title {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: var(--dark-purple);
}
.purple-title2 {
	padding: 1rem;
	margin: 0;
}

.purple-content {
	padding: 30px;
	border: 5px solid var(--dark-background);
}


.list-item-prefix {
	display: flex;
}
.list-item-prefix p {
	margin: 0.3rem;
}
.list-item-prefix a {
	align-self: center;
	margin: 0 1rem;
}